In [1]:
#Q.1
n = int(input('enter the number '))
for i in range(1,n+1):
    for j in range(1,(n+1)-i):
        print(' ', end = ' ')
    for j in range(1,i+1):
        print('*',end = ' ')
    print()

enter the number 4
      *
    * *
  * * *
* * * *

In [19]:
# Q.2 
n = int(input('enter the number '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*', end = ' ')
    print()    
for i in range(1,n):
    for j in range(1,(n-i)+1):
        print('*', end = ' ')
    print()

enter the number 4
*
* *
* * *
* * * *
* * *
* *
*

In [2]:
#Q.3
n = int(input('enter the number '))
for i in range(1,n+1):
    for j in range(1,(n+1)-i):
        print(" ", end = ' ')
    for j in range(1,i+1):
        print('*  ', end=' ')
    print()

enter the number 5
        *
      *   *
    *   *   *
  *   *   *   *
*   *   *   *   *

In [6]:
#Q.4
n = int(input('enter the number '))
k = 1
for i in range(1,n+1):
    for j in range(1,(n-i)+1):
        print(' ', end = ' ')
    for j in range(1,i+1):
        print(k,' ', end = ' ')
        k +=1
    print()

enter the number 4
      1
    2   3
  4   5   6
7   8   9   10

In [7]:
#Q.5 find the palindrome number 
n = input('Enter the number ')
x =n[::-1]
if x==n:
    print(n,'is a palindrome number')
else:
    print(n,'is not a palindrome number')

Enter the number 121
121 is a palindrome number

In [21]:
# Q.6 To reverse any number 
n = input('Enter the number ')
s = n[::-1]
print('output = ',s)

Enter the number 98347586
output =  68574389

In [21]:
#Q.7 print Digits of any given number
n = input('Enter the given number of ')
for i in n:
    print(i)

Enter the given number of 8676
8
6
7
6

In [2]:
a = int(input('enter the first number '))
b = int(input('entert the second number '))
if a<b:
    print('grater number is',b)
print(a)

enter the first number 5
entert the second number 9
grater number is 9
5

In [3]:
lst = [1,2,3,4,5]
len(lst)

5

In [4]:
min(lst)

1

In [5]:
max(lst)

5

In [6]:
sum(lst)

15

In [10]:
lst = [0,0,0,'']
any(lst) # to find true value

False

In [14]:
lst = [1,0,7,'a',3.678]
any(lst)
all(lst)

False

In [13]:
all(lst)

True

In [27]:
lst = [1,0,7,3.678]
a = sorted(lst)

list

In [37]:
tpl = (9,4,2,7)
id(tpl)

2084968771648

In [38]:
tpl[0]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
id(tpl)

NameError: name 'tpl' is not defined

In [52]:
tpl = (9,4,2,7)
tpl.append(67)
tpl

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
a = reversed(lst)
for i in a:
    print(i)

3.678
7
0
1

In [48]:
b = reversed(tpl)
for i in b:
    print(i)

7
2
4
9

In [61]:
tpl = (9,4,2,7)
print(tpl.remove(7))
tpl

AttributeError: 'tuple' object has no attribute 'remove'

In [93]:
tpl = (1,2,3,4,5,1,1,7,8,0)
##a=len(tpl)
#print(tpl[a-1])
#tpl.count(1)
#tpl.index(8)
b = tpl.reverse()
print(tpl)

AttributeError: 'tuple' object has no attribute 'reverse'

In [92]:
lst = [4,9,4,4,4,4,11,11,45]
#print(lst.append(657))
#print(lst.remove(11))
#lst.insert(3,13)
#lst.count(4)
a = lst.reverse()
type(a)
print(lst)

[45, 11, 11, 4, 4, 4, 4, 9, 4]

In [86]:
tpl = (4,9,[1,2],11,'a')
print(id(tpl))
a = tpl[2]
#a.append(3)
#print(id(tpl))

2084968583952
2084968583952

In [94]:
lst = [2,4,5]
id(lst)

2084969799552

In [98]:
id(lst.append(6))

140735390063832

In [102]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::3])

[1, 4, 7]

#homework to build resume till saturday

In [6]:
n = int(input('enter the number '))
for i in range(1,n+1):
    for j in range(1,(n+1)-i):
        print(" ", end = ' ')
    for j in range(1,i+1):
        print('*  ', end=' ')
    print()
#n = int(input('enter the number '))
for i in range(1,n):
    for j in range(1,i+1):
        print(" ", end = ' ')
    for j in range(1,n-i+1):
        print('*  ', end=' ')
    print()

enter the number 5
        *
      *   *
    *   *   *
  *   *   *   *
*   *   *   *   *
  *   *   *   *
    *   *   *
      *   *
        *

In [12]:
n = int(input('enter the first number '))
for i in range(1,n):
    for j in range(1,i+1):
        print(' ', end = ' ')
    for j in range(1,n-i+2):
        print('*  ', end = ' ')
    print()
for i in range(1,n+1):
    for j in range(1,n-i+2):
        print(' ', end = ' ')
    for j in range(1,i+1):
        print('*  ', end = ' ')
    print()

enter the first number 5
  *   *   *   *   *
    *   *   *   *
      *   *   *
        *   *
          *
        *   *
      *   *   *
    *   *   *   *
  *   *   *   *   *