In [2]:
#concatination
d1 = {'abc':123, 'xyz':456}
dct = d1+{ }
print(dct)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [3]:
#merging
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}
dct = d1+d2
print(dct)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
#aliasing 
dct1 = {'abc':123, 'xyz':456}
dct3 = dct1
print(dct3)

{'abc': 123, 'xyz': 456}

In [5]:
# cloning 
d2 = {'name':'abhi', 'age':20}
s = d2.copy()
print(s)

{'name': 'abhi', 'age': 20}

In [12]:
#conversion 
lst = [1,2,3,4]
b = dict(lst)
print(b)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [13]:
st = (1,2,3,4)
b = dict(st)
print(b)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [14]:
#identity
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}
d1 is d2

False

In [15]:
d1 = {'abc':123, 'xyz':456}
d2 = {'abc':123, 'xyz':456}
d1 is d2

False

In [16]:
#membership
d1 = {'abc':123, 'xyz':456}
'abc' in d1

True

In [17]:
d1 = {'abc':123, 'xyz':456}
123 in d1

False

In [60]:
#comparison
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}
#print(d1>d2)
sorted(d2)
reversed(d2)
for i in reversed(d2):
    print(i)
d2.pop('name')

age
name

'abhi'

In [36]:
#empytness
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}
if not d1

SyntaxError: invalid syntax (1130028721.py, line 4)

In [37]:
len(d1)

NameError: name 'd1' is not defined

In [23]:
min(d1)

'abc'

In [24]:
max(d1)

'xyz'

In [25]:
min(d2)

'age'

In [26]:
max(d2)

'name'

In [30]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
any(d1)

True

In [32]:
d = {}
any(d)

False

In [33]:
all(d1)

True

In [35]:
del(d1)
print(d1)

NameError: name 'd1' is not defined

In [42]:
#d1.add(3)
d1.remove('abc')

AttributeError: 'dict' object has no attribute 'remove'

In [38]:
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}

In [46]:
d1.update(d2)
print(d1)

{'abc': 123, 'xyz': 456, 'name': 'abhi', 'age': 20}

In [47]:
d1.discard(5)

AttributeError: 'dict' object has no attribute 'discard'

In [69]:
d1 = {'abc':123, 'xyz':456}
d2 = {'name':'abhi', 'age':20}
#print(d1|d2)
d2.get('namew','absent')
type(d2.popitem())
#print(d2)

tuple

In [49]:
print(d1&d2)

TypeError: unsupported operand type(s) for &: 'dict' and 'dict'

In [50]:
print(d1-d2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [51]:
print(d1^d2)

TypeError: unsupported operand type(s) for ^: 'dict' and 'dict'

In [53]:
print(d1|=d2)

SyntaxError: invalid syntax (3629373104.py, line 1)

In [54]:
d = {1:'hello'}
print(d[1])

hello

In [71]:
d = {
    1:'vedant'
    2:'princy'
    3:'amisha'
    4:'chandan'
}
print(d.pop(4))

SyntaxError: invalid syntax (2774082440.py, line 3)

In [76]:
d = {[1,2,3]:456}
print(d)

TypeError: unhashable type: 'list'